body {
   font-family:'Times New Roman', Times, serif;
   text-align: center;
 }
  header {
   background-color:rgba(241, 2, 2, 0.404);
   color: rgba(255, 8, 201, 0.973);
   padding: 20px;
 }
  ul li a {
   color:rgb(251, 255, 5);
   text-decoration: none;
 }
 li{
   display: inline;
   margin-right:50px;
 }


 footer {
   background-color: rgba(24, 52, 211, 0.596);
   color: rgb(197, 8, 245);
   padding: 10px;
 }
  #home img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
 }
  #portfolio{
   background-color: rgba(16, 245, 73, 0.39);
   padding: 10px;
 }